.footer {
    background: black;
    color: white;
}
.contactYan {
    font-size: 30px;
    padding: 20px;
    float: left;
    width: 50%;
}
.contactMine {
    font-size: 20px;
    text-align: right;
    padding: 30px;
}
.rights {
    padding: 5px 20px;
    font-size: 15px;
}