.main {
    font-size: 30px;
    background: rgb(75, 25, 84);
    color: white;
}
.main1{
    display: flex;
    flex-direction: row;
}
.art1 {  
    margin: 30px;
    flex: 1;
    order: 3;
}
.menu1{
    flex: 1;
    order: 1;  
}
.img1 {
    margin: 20px;
    flex: 1;
    order: 2;
    height: 400px;
}
.main2 {
    text-align: center;
    padding: 10px;
}
.main3 {
    display: flex;
    flex-direction: row;
}
.vid1 {
    flex: 1;
    order: 1;
    padding: 0 0 0 50px;
}
.vid2 {
    flex: 1;
    order: 2;
}
.vid3 {
    flex: 1;
    order: 3;
}
.main4 {
    display: flex;
    flex-direction: row;
}
.art3 {
    flex: 2;
    order: 1;
    padding: 30px;
}
.vid4 {
    flex: 1;
    order: 2;
    padding: 20px;
}
.art4 {
    text-align: center;
    padding: 15px;
}
@media screen and (max-width: 850px) {
    .main {
        max-width: auto;
        width: 100%;
        margin: 0;
    }
    .main3 {
        display: flex;
        flex-direction: column;
    }
    .vid1 {
        order: 1;
        padding: 0;
    }
    .vid2 {
        order: 2;
    }
    .vid3 {
        order: 3;
    }
    .img1 {
        width: 150px;
    }
    .art1 {
        float: left;
    }
    .main1{
        display: flex;
        flex-direction: column;
    }
    .art1 {  
        margin: 30px;
        flex: 1;
        order: 3;
    }
    
    .main4 {
        display: flex;
        flex-direction: column;
    }
   
 }