.header {
    background: black;
}
.center{
    text-align: center;
}
.logo{
    background: rgb(64, 5, 89);
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: aliceblue;
}
.logo a:link{
    color: white;
    text-decoration: none;
}
.major {
    float: right;
}
*{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 850px) {
    .header {
        max-width: auto;
        width: 100%;
        margin: 0;
    }
    .center
 }